<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
{{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
<div class="row">
  <div class="col-md-10 col-12 mx-auto">
<div class="row">
  <!--left side div-->
  <div class="col-md-6 col-12 main_header_right align-items-center">
    <figure>
        <img src="images/me.png" alt="me" class="img-fluid" title="me">
    </figure>
  </div>
  <div class="col-md-6 col-12 main_header_left">
    <p>Meet me...</p>
<h1>An aspiring <span class="text_clr">web developer</span> weaving digital dreams one code at a time.</h1>
  <a href="#"><button>About Me</button></a>
</div>
  <!--right side div-->
  
</div>
  </div>
</div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>
</html>